body {
  font-family: "Montserrat", sans-serif;
}

input {
  width: 272px;
  height: 38px;
  border-radius: 4px;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 0;
  padding-left: 16px;
  outline: none;
  border: 1px solid #808080;
  margin-bottom: 0 8px 32px 0;
  transition: border 250ms ease-in-out;
}

input:focus,
input:hover {
  border: 1px solid #4e75ff;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  padding: 8px 16px;
  background-color: #cfcfcf;
  border-radius: 8px;
  border: none;
  margin-bottom: 32px;
  transition: all 450ms ease-in-out;
}

.isActive {
  background-color: #4e75ff;
  color: #fff;
}

.isActive:hover {
  background-color: #6c8cff;
  color: #fff;
}

.timer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 346px;
  margin: 0 auto;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}